name: AKB K50 内核构建
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            libssl-dev \
            flex \
            bison \
            libfl-dev \
            bc \
            xsltproc \
            libxml2-utils \
            device-tree-compiler \
            make \
            python3 \
            ccache \
            git \
            libarchive-tools \
            tar \
            gzip \
            bzip2 \
            unzip \
            wget \
            zlib1g-dev \
            automake \
            pkg-config \
            libgmp-dev \
            libmpc-dev \
            libmpfr-dev \
            libncurses-dev

      - name: Prepare
        run: |
          chmod +x build_script.sh
          (./build_script.sh ;prepare)

      - name: Build
        run: |
          (./build_script.sh ;main)

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "output"
          path: out/*